.main-header {
  height: auto;
  margin: 3.25rem auto 0;
  width: calc(100vw - 50px);
}

.header-title {
  color: #333333;  
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin: 0.99rem 0;
}

.header-paragraph {
  color: #666666;  
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  letter-spacing: 0.92px;
  margin: 0.95rem 0 1.625rem;
}


@media only screen and (min-width: 864px) {
  .main-header {
    width: calc(100vw - 80px);
  }

  .header-title {
    font-size: 3.375rem;
  }

  .header-paragraph {
    color: #666666;  
    font-size: 1.375rem;
  }
}

@media only screen and (min-width: 1152px) {
  .main-header {
    width: calc(100vw - 100px);
  }
}