.nav-container {
  border-top: 1px solid #E6E6E6;  
  height: auto;
  width: 100vw;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0.9375rem;
  width: calc(100vw - 50px); 
}

.filter-label {
  color: #666666;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.193rem;
  margin-right: 13px;
  padding-top: 0.1rem;
}

.filter-select, .filter-option {
  background-color: #FFF;
  border: none;
  border-bottom: 1px solid #C8C8C8;
  color: #002B56;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.193rem;
}

.filter-select { 
  appearance: none;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="%23969696" d="M192 384c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L192 306.8l137.4-137.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-160 160C208.4 380.9 200.2 384 192 384z"/></svg>') right 1rem center/8px 10px no-repeat;
  flex-grow: 1;
  height: 25px;
  max-width: 95%;
  padding-bottom: 10px;
}

/* .filter-select:after{
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #f00;
  position: absolute;
  top: 40%;
  right: 5px;
  content: "";
  z-index: 98;
 } */

.filter-button {
  display: none;
}

.select-container {
  display: flex;
  width: 100%;
}

@media only screen and (min-width: 864px) {  
  .nav-container {
    border: 1px 0px;
    border-color: #E6E6E6;
    border-style: solid;
    height: auto;
    width: 100vw;
  }

  .nav-container {
    border-bottom: 1px solid #E6E6E6;
  }

  .filter-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0px 0.33px 0px 0px;
    width: calc(100vw - 100px)
  }

  .filter-label {
    font-size: 1rem;
    gap: 12.11px;
    height: 26px;
    line-height: 1.193rem;
  }

  .filter-button {
    background-color: #FFFFFF;
    border: 1px solid #C8C8C8;
    color: #C8C8C8;
    display: block;
    font-family: Arial;
    font-size: 0.8333rem;
    font-weight: 400;
    line-height: 2.25rem;
    padding: 1px 40px 1px 40px;
    width: 158px
  }

  .select-container {
    width: 266.11px;
  }
}
