.section-container {
  margin: 3.45rem auto 0;
  width: calc(100vw - 50px); 
}

.section-title {
  color: #333333;  
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin: 0.99rem 0;
  padding-right: 147px;
}

.character-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.25rem;
  width: 100%;
}

.character-text {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  width: 62%;
}

.character-name {
  color: #000000;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 1px;
  margin: 0 0 5px;
  padding-top: 0.125rem;
  width: 100%;
}

.character-planet {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  line-height: 28px;
  letter-spacing: 1px;
  width: 100%;
}

.character-img {
  height: 130px;
  margin-right: 0.75rem;
  object-fit: cover;
  object-position: 90% 90%;
  width: 115px;
}

.character-item {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0 1.875rem;
  width: 100%
}

.load-button {
  background-color: #FFFFFF;
  border: 1px solid #002B53;
  border-radius: 1px;
  color: #002B53;
  display: block;
  font-family: Arial;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 2.875rem;
  margin: 1rem auto;
  width: 196px;
}

.hidden-in-mobile {
  display: none;
}

@media only screen and (min-width: 640px) {
  .character-container {
    --cols: 2;
    --gap: 1.875rem;
    gap: var(--gap);
  }

  .character-item {
    flex-basis: calc(100% / var(--cols) - var(--gap) / var(--cols) * (var(--cols) - 1));
  }
}

@media only screen and (min-width: 864px) {
  .character-container {
    --cols: 3;
  }

  .character-img {
    height: 180px;
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
  }

  .character-item {
    flex-basis: calc(100% / var(--cols) - var(--gap) / var(--cols) * (var(--cols) - 1));
  }

  .character-text {
    margin-top: 1rem;
    width: 100%
  }

  .character-name {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 0.25rem;
  }

  .character-planet {
    font-size: 1rem;
    line-height: 1.75rem;
    margin-bottom: 0.725rem;
  }

  .hidden-in-mobile {
    color: #757575;
    display: block;
    font-size: 0.75rem;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    line-height: 1rem;
    width: 100%;
  }

  .caractere {
    font-size: 0.5rem;
  }

  .load-dive {
    margin: 0 auto;
    width: calc(100vw - 100px);
  }

  .load-button {
    font-size: 0.875rem;
    padding: 0.0625rem 0;
    width: 26.855%;
  }

  .section-container {
    margin: 3.875rem auto 0;
    width: calc(100vw - 100px);
  }

  .section-title {
    font-size: 2.125rem;
  }
}

@media only screen and (min-width: 1152px) {
  .character-container {
    --cols: 4;
  }
  
  .character-item {
    flex-basis: calc(100% / var(--cols) - var(--gap) / var(--cols) * (var(--cols) - 1));
  }

  .character-img {
    height: 230px;
  }
}

